<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<hr/>
<p th:unless="${themecamps.size()}">No themecamps yet</p>

<table class="table">

    <tr>
        <th>Id</th>
        <th>Themecamp</th>
        <th>Type of camp</th>
        <th>Edit</th>
    </tr>

    <tr th:each="themecamp : ${themecamps}">
        <td th:text="${themecamp.id}"></td>
        <td th:text="${themecamp.themecampName}"></td>
        <td th:text="${themecamp.themecampType}"></td>
        <td>
            <a th:href="@{'/themecamp/edit/'+${themecamp.id}}">Edit</a>
        </td>
    </tr>
</table>

<div><a href="/themecamp/add">Add Themecamp</a></div>

</body>
</html>