<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<hr/>

<form method="post" style="max-width:600px;" th:object="${placement}">
    <div class="form-group">
        <label th:for="placementName">Name</label>
        <input class="form-control" th:field="*{placementName}" />
        <span th:errors="*{placementName}" class="error"></span>
    </div>

    <input type="submit" value="Create Placement" />
</form>

</body>
</html>