<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${attendee}">
    <h1>Ticket & Buyer</h1>
    <div class="form-group">
        <label th:for="misc">Misc</label>
        <p th:text="*{ticket_num}"></p>
        <p th:text="*{buyer_name}"></p>
    </div>

    <h1>Attendee Name & Age</h1>
    <div class="form-group">
        <label th:for="first_name">First Name</label>
        <input class="form-control" th:field="*{first_name}" />
        <span th:errors="*{first_name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="last_name">Last Name</label>
        <input class="form-control" th:field="*{last_name}" />
        <span th:errors="*{last_name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="burner_name">Burner Name</label>
        <input class="form-control" th:field="*{burner_name}" />
        <span th:errors="*{burner_name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="age">Age</label>
        <input class="form-control" th:field="*{age}" />
        <span th:errors="*{age}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="ticketType">Type</label>
        <select name="ticketTypeId">
            <option th:each = "ticketType : ${ticketTypes}"
                    th:text = "${ticketType.name}"
                    th:value = "${ticketType.id}"
            >
            </option>
        </select>
    </div>

    <h1>Contact</h1>
    <div class="form-group">
        <label th:for="contact">Phone & Email</label>
        <input class="form-control" th:field="*{phone}" />
        <input class="form-control" th:field="*{email}" />
        <span th:errors="*{phone}" class="error"></span>
        <span th:errors="*{email}" class="error"></span>
    </div>

    <h1>Address</h1>
    <div class="form-group">
        <label th:for="address1">Address 1</label>
        <input class="form-control" th:field="*{address1}" />
        <span th:errors="*{address1}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="address2">Address 2</label>
        <input class="form-control" th:field="*{address2}" />
        <span th:errors="*{address2}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="city">City</label>
        <input class="form-control" th:field="*{city}" />
        <span th:errors="*{city}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="state">State</label>
        <input class="form-control" th:field="*{state}" />
        <span th:errors="*{state}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="zipcode">Zipcode</label>
        <input class="form-control" th:field="*{zipcode}" />
        <span th:errors="*{zipcode}" class="error"></span>
    </div>

    <h1>Placement & Themecamp</h1>
    <div class="form-group">
        <label th:for="themecamp">Themecamp</label>
        <select name="themecampId">
            <option th:each = "themecamp : ${themecamps}"
                    th:text = "${themecamp.themecampName}"
                    th:value = "${themecamp.id}"
            >
            </option>
        </select>
    </div>


    <input type="hidden" th:value="${id}" name="attendee_id" />
    <input type="submit" value="Edit attendee" />
</form>

</body>
</html>