<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<hr/>
<p th:unless="${users.size()}">No users yet</p>

<table class="table">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>Edit</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td >Not yet installed</td>
        <td>
            <a th:href="@{'/user/edit/'+${user.id}}">Edit</a>
        </td>
    </tr>
</table>
<p>Edit is not yet working</p>
<div><a href="/user/add">Add User</a></div>
</body>
</html>