<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<hr/>
<p th:unless="${tickets.size()}">No tickets yet</p>

<table class="table">

    <tr>
        <th>Ticket#</th>
        <th>Buyer Name</th>
        <th>Type</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>State</th>
        <th>Buyer Email</th>
        <th>Edit</th>
    </tr>

    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.ticket_num}"></td>
        <td th:text="${ticket.buyer_name}"></td>
        <td th:text="${ticket.ticketType}"></td>
        <td th:text="${ticket.first_name}"></td>
        <td th:text="${ticket.last_name}"></td>
        <td th:text="${ticket.city}"></td>
        <td th:text="${ticket.state}"></td>
        <td th:text="${ticket.buyer_email}"></td>
        <td>
            <a th:href="@{'/attendee/register/'+${ticket.id}}">Register</a>
        </td>
    </tr>
</table>
</body>
</html>